.main-container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.input-field{
  width: 400px;
  padding: 5px;
}
.result-area{
  border: 1px solid white;
  max-height: 500px;
  overflow-y: scroll;
  width: 400px;
}
.result {
  width: 400px;
  padding: 5px;
  text-decoration: none;
}